{
  "extends": [
    "airbnb",
    "plugin:ramda/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions":{
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "new-cap": "off",
    "max-len": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "react/prop-types": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": "off",
    "comma-dangle": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/control-has-associated-label": "off"
  },
  "plugins": [
    "react",
    "import",
    "ramda"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.0"
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
